#imgfront{
    position: relative;
    display: block;
    margin-top: -500px;
    margin-bottom: 100px;
    margin-left:0px;
}
.block1{
    margin-left:100px;
    position:relative;
    margin-top:50px;
    display: block;
    width:67%;
    height:200px;
  
}
.block2{
   
    bottom:36px;
    right:33px;
    margin-left: 500px;
    position:relative;
    margin-top:50px;
    display: block;
    width:59%;
    height:200px;
   
}
.block3{
    bottom:260px;
    margin-left:900px;
    position:relative;
    margin-top:23px;
    display: block;
    width:60%;
    height:200px;
    
}

